

<div class="container" id="lowestContainer">

	<% if current_user %>		
		<div class="row">
				<%= link_to 'Create New Poster', new_poster_path, class: 'btn btn-default' %>
			
				<a class="btn btn-default">My Posters</a>
			
				<%= form_tag search_path, id: 'search-form', remote: true do %>
					<%= text_field_tag 'query', nil, placeholder: 'Search...', id: 'search-text_field', autocomplete: 'off', class: 'form-control'%>
				</form>
		</div>
	<% end %>

	<p class="postersCatagoryText"><b>Latest Posters｜最新海報</b></p>

	<div class="latest">
		
		<% @posters.each do |poster| %>
		
		<% end %>	

	</div>

	<p class="postersCatagoryText"><b>All Posters｜全部海報</b></p>

	<div class="posters"></div>

	<% end %>
</div>

<%= javascript_include_tag 'posterIndex', 'data-turbolinks-track' => true %>