
<div class="container-fluid">

	<% if current_user %>
		<div class="row">
			<% if can? :create, Poster %>
				  <%= link_to 'Create New Poster', new_poster_path, class: 'btn btn-default' %>


				<a class="btn btn-default" id="my-posters">My Posters</a>


			  <%= form_tag search_path, id: 'search-form', remote: true do %>
				<%= text_field_tag 'query', nil, placeholder: 'Search...', id: 'search-text_field', autocomplete: 'off', class: 'form-control'%>
			  <% end %>
			<% end %>
		</div>

	<div class="poster-area">
	  <% if can? :create, Poster %>
			<p class="posters-catagory"><b class="posters-catagory-text">Latest Posters｜最新海報</b></p>

			<div class="latest"></div>
	  <% end %>


		<% if can? :create, Poster %>
		  <p class="posters-catagory"><b class="posters-catagory-text">All Posters｜全部海報</b></p>

		  <div class="posters"></div>
		<% end %>
	</div>

	<% end %>
</div>

<!-- delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body modal-body-rewrite">確定要刪除此講者海報？</div>
      <div class="modal-footer modal-footer-rewrite">
        <a class="btn btn-default modal-btn modal-btn-left" rel="nofollow" data-method="DELETE" href="">YES</a>
        <a class="btn btn-default modal-btn modal-btn-right" data-dismiss="modal">NO</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%= javascript_include_tag 'posterIndex', 'data-turbolinks-track' => true %>
