/**
 *	@editor arfullight
 *	@date   2016/2/8
 *  @info   refactory
 */
$(function(){

	
	//----var definition----

	var posterId = window.location.pathname.split("/")[2];

	var selfieImageData, 
			posterImageData,
			posterFinishData,
			fileName = "cover.jpg",
			errorArray = [],
      originalSelfieImageDataUrl = $('#selfie-modal').find('.cropit-image-input').attr('src'),
      originalPosterImageDataUrl = $('#poster-modal').find('.cropit-image-input').attr('src');

	//get dataURL if exist
	if ($('.image-editor:eq(0)').attr('origin-image') != "")
		selfieImageData = $('.image-editor:eq(0)').attr('origin-image');
	if ($('.image-editor:eq(1)').attr('origin-image') != "")
		posterImageData = $('.image-editor:eq(1)').attr('origin-image');

	/**
	 *  @info start cropit
	 */
	var avatar_dataUrl = $('.image-editor:eq(0)').attr('origin-image');
	$('.image-editor:eq(0)').cropit({
		imageState: { src: avatar_dataUrl },
    imageBackground: true,
    imageBackgroundBorderWidth: 50,
    onImageError: function(error){
    	$('#selfie-error-message>.alert').html(error.message);
    	$('#selfie-error-message').collapse();

    	setTimeout(function(){$('#selfie-error-message').collapse('hide');}, 3000);
    },
  });

	var background_dataUrl = $('.image-editor:eq(1)').attr('origin-image');
  $('.image-editor:eq(1)').cropit({
  	imageState: { src: background_dataUrl },
  	exportZoom: 2,
    imageBackground: true,
    imageBackgroundBorderWidth: 50,
    onImageError: function(error){
    	$('#poster-error-message>.alert').html(error.message);
    	$('#poster-error-message').collapse();

    	setTimeout(function(){$('#poster-error-message').collapse('hide');}, 3000);
    },
  });

	//fix image preview
  $('.cropit-image-background-container:eq(1)').css('left', '144px');

  $('.cropit-image-background-container:eq(0)').css('left', '74px');


  /** 
   *  @info  get picture data after cut 
   *  
   *  @param selfieImageData, posterImageData
   */
  $('.selfie-export').click(function() {
    selfieImageData = $('.image-editor').cropit('export', {
		  type: 'image/jpeg',
		  quality: .9,
		  originalSize: true
		});

    $('#selfie-image').attr("src", selfieImageData);
    
    $('#selfie-modal').modal('hide');

    patchToPoster();

  });
  
  $('.poster-export').click(function() {
    posterImageData = $('#poster-image-editor').cropit('export', {
		  type: 'image/jpeg',
		  quality: .9,
		  originalSize: true
		});

    $('#poster-image').attr("src", posterImageData);
    
    $('#poster-modal').modal('hide');

    patchToPoster();

  });

  //----cropit btn animation----

  $('#selfie-detector').mouseenter(function(){
    
      $('#selfie-button-word').animate({
          opacity: 1
      }, 200 );
      $('#selfie-button-area').animate({
          opacity: 1
      }, 200 );
    
  });
   

  $('#selfie-detector').mouseleave(function(){
    
      $('#selfie-button-area').animate({
        opacity: 0
      }, 50 );
      $('#selfie-button-word').animate({
          opacity: 0
      }, 200 );
    
  });

  $('#poster-button-detector').mouseenter(function(){
    
      $('#poster-button-word').animate({
          opacity: 1
      }, 200 );
      $('#poster-button-area').animate({
          opacity: 1
      }, 200 );
    
  });

  $('#poster-button-detector').mouseleave(function(){
    
      $('#poster-button-area').animate({
        opacity: 0
      }, 50 );
      $('#poster-button-word').animate({
          opacity: 0
      }, 200 );
    
  });

  //----textarea----
  //textarea自動長高高
  document.getElementById('poster-content-textarea').addEventListener('keyup', function () {
    this.style.height = 0;
    this.style.height = this.scrollHeight + 'px';
  }, false);

  //----edit area----

  //auto save when change
  var typingTimer;                //timer identifier
  
  $('#selfie-toggle, .location-radio, #experience-toggle-1, #experience-toggle-2, #experience-toggle-3').change(function(){
  	patchToPoster();
  });

  $('#poster-content-textarea, #location-textarea, #name-textarea, .experience-textarea').on('keyup', function(){
  	changeSaveText();
    clearTimeout(typingTimer);
    typingTimer = setTimeout(patchToPoster, 1500);
    //patchToPoster();
  });

  $('#poster-content-textarea, #location-textarea, #name-textarea, .experience-textarea').on('keydown', function(){
    clearTimeout(typingTimer);
  });

  //change if default is false
  if($('#selfie-toggle').prop('checked') == false) 
      $('#selfie-all').hide();

  //selfie
  $('#selfie-toggle').change(function() {
    if($(this).prop('checked') == false) 
      $('#selfie-all').hide();
    else 
      $('#selfie-all').show();
  });

  //change to the default
  if($('.location-radio:checked').val() == "黑色") {
    $('#location-textarea').css("color", "black");
  }
  else {
    $('#location-textarea').css("color", "white");
  }

  //location color
  $('.location-radio').change(function() {
    if($('.location-radio:checked').val() == "黑色") {
      $('#location-textarea').css("color", "black");
    }
    else {
      $('#location-textarea').css("color", "white");
    }
  });

  //change to the default
  if($('#experience-toggle-1').prop('checked') == true) { 
    $('#experience-1').css("color", "red");
  }
  else {
    $('#experience-1').css("color", "black");
  }

  if($('#experience-toggle-2').prop('checked') == true) { 
    $('#experience-2').css("color", "red");
  }
  else {
    $('#experience-2').css("color", "black");
  }

  if($('#experience-toggle-3').prop('checked') == true) { 
    $('#experience-3').css("color", "red");
  }
  else {
    $('#experience-3').css("color", "black");
  }

  //experience color (all three)
	$('#experience-toggle-1').change(function() {
    if($(this).prop('checked') == true) { 
      $('#experience-1').css("color", "red");
    }
    else {
      $('#experience-1').css("color", "black");
    }
  });

  $('#experience-toggle-2').change(function() {
    if($(this).prop('checked') == true) { 
      $('#experience-2').css("color", "red");
    }
    else {
      $('#experience-2').css("color", "black");
    }
  });

  $('#experience-toggle-3').change(function() {
    if($(this).prop('checked') == true) { 
      $('#experience-3').css("color", "red");
    }
    else {
      $('#experience-3').css("color", "black");
    }
  });
  

  //----canvas area----

  var canvasFinish;

  /**
   *  draw ioh cover using canvas
   *
   *  @use selfieImageData, posterImageData
	 *
   *  @use canvasFinish
   */
  function doCanvas()
  {
  	//create canvas and basic settings
  	var canvas = document.createElement('canvas'),
				ctx    = canvas.getContext('2d');
		
		canvas.width  = 1920;
		canvas.height = 1080;

		//----load images----
		var numberOfImg = 2,
				imgLoaded   = 0;

		function readyToDraw()
		{
			if(numberOfImg == imgLoaded)
				return true;
			else
				return false;
		}

		function drawCanvas()
		{
			ctx.drawImage(posterBGI, 0, 0, 1920, 860);

			if ($('#selfie-toggle').prop('checked'))
				ctx.drawImage(posterSelfie, 1540, 466, 320, 320);

			ctx.drawImage(posterIOH, 0, 860);

			drawTextArea();
		  drawLocationText();
		  drawNameAndExperienceText();

		  canvasFinish = canvas;
		}

		//畫文字框
    function drawTextArea()
    {
      var text = document.getElementById('poster-content-textarea').value;
      var lines = text.split("\n");
      var height = lines.length * 34 + 30;
      
      //文字框背景
      ctx.globalAlpha = 0.56;
      ctx.fillStyle = "#FFFFFF";
      ctx.fillRect(870, 796-height, 620, height);  
      
      //文字本身
      ctx.globalAlpha = 1;
      ctx.font="700 30px Helvetica";
      ctx.fillStyle = "#000000";
      
      var y = 836-height;
      
      for(var i = 0; i < lines.length; i++) {
        var words = lines[i].split(' ');
        var line = '';
        
        for (var n = 0; n < words.length; n++) {
          var testLine = line + words[n] + ' ';
          line = testLine;
        }
    
        ctx.fillText(line, 890, y);
        y += 34;
      }
    }
      
    //畫地點文字
    function drawLocationText()
    {
      var text = document.getElementById('location-textarea').value;

      //文字本身
      ctx.globalAlpha = 1;
      ctx.font="700 24px Helvetica";
      if($('.location-radio:checked').val() == "白色") { // 白字
        ctx.fillStyle = "#FFFFFF";
      }
      else {
        ctx.fillStyle = "#000000";
      }
      ctx.textAlign = "right";
      ctx.fillText(text, 1870, 840);
    }
      
    //畫名字和經歷
    function drawNameAndExperienceText() 
    {
      var name = document.getElementById('name-textarea').value;
      var exp1 = document.getElementById('experience-1').value;
      var exp2 = document.getElementById('experience-2').value;
      var exp3 = document.getElementById('experience-3').value;
        
      ctx.font = "700 28px Helvetica";
      ctx.fillStyle = "#000000";
      ctx.fillText(name, 1870, 910);

      if($('#experience-toggle-1').prop('checked') == true) {
        ctx.fillStyle = "#FF0000";
      }
      else {
        ctx.fillStyle = "#000000";
      }
      ctx.fillText(exp1, 1870, 955);
      if($('#experience-toggle-2').prop('checked') == true) {
        ctx.fillStyle = "#FF0000";
      }
      else {
        ctx.fillStyle = "#000000";
      }
      ctx.fillText(exp2, 1870, 1000);
      if($('#experience-toggle-3').prop('checked') == true) {
        ctx.fillStyle = "#FF0000";
      }
      else {
        ctx.fillStyle = "#000000";
      }
      ctx.fillText(exp3, 1870, 1045);
    }

		//poster selfie
    if ($('#selfie-toggle').prop('checked') == true) {
      
      numOfImg = 3;
      var posterSelfie = new Image();
      
      posterSelfie.onload = function(){
        imgLoaded ++;

        if (readyToDraw())
        	drawCanvas();
    	};
    	
    	selfieImageData = selfieImageData || $('#selfie-image').attr("src");
      posterSelfie.src = selfieImageData;

    }


		//poster backgroung image
    var posterBGI = new Image();
    
    posterBGI.onload = function(){
    	imgLoaded ++;

      if (readyToDraw())
      	drawCanvas();
  	};
    
    posterImageData = posterImageData || $('#poster-image').attr("src"); 
    posterBGI.src = posterImageData;
        

  	//poster IOH banner
    var posterIOH = new Image();
    
  	posterIOH.onload = function(){
    	imgLoaded ++;

      if (readyToDraw())
      	drawCanvas();
  	};
    
    posterIOH.src = "<%= asset_path('IOH-banner.png') %>";

  }


  //----download btn----

  function readyForExport()
  {
  	errorArray = [];

  	if (document.getElementById('name-textarea').value == "")
  		errorArray.push("人名尚未填寫");
  	
  	if (document.getElementById('experience-1').value == "")
  		errorArray.push("經驗尚未填寫");

  	if (document.getElementById('location-textarea').value == "" || document.getElementById('location-textarea').value == "地點：")
  		errorArray.push("地點尚未填寫");

  	if (document.getElementById('poster-content-textarea').value == "")
  		errorArray.push("文字框尚未填寫");

  	if ($('#selfie-image').attr('src') == "<%= image_path("place-holder-320x320.png") %>" && $('#selfie-toggle').prop('checked'))
  		errorArray.push("大頭貼尚未上傳");

  	if ($('#poster-image').attr('src') == "<%= image_path("place-holder-1920x860.png") %>")
  		errorArray.push("背景照尚未上傳");

  	if ($('.experience-checkbox').find('input:checked').length == 0)
  		errorArray.push("未選擇經歷");

  	if (errorArray.length == 0)
  		return true;
  	else
  		return false;
  }

  /**
   *  post data to /posters/index to create new poster
   */
  function patchToPoster()
  {
  	var data = {};

  	data['use_avatar']     = $('#selfie-toggle').prop('checked');
		data['name']           = $('#name-textarea').val();
		data['description']    = $('#poster-content-textarea').val();
		data['info_one']       = $('#experience-1').val();
		data['info_one_red']   = $('#experience-toggle-1').prop('checked');
		data['info_two']       = $('#experience-2').val();
		data['info_two_red']   = $('#experience-toggle-2').prop('checked');
		data['info_three']     = $('#experience-3').val();
		data['info_three_red'] = $('#experience-toggle-3').prop('checked');
		data['location']       = $('#location-textarea').val();
		data['location_white'] = $('.location-radio:checked').val();
		data['avatar_dataUrl'] = selfieImageData;
		data['background_dataUrl'] = posterImageData;
		data['poster_dataUrl'] = posterFinishData;

    data['original_avatar_dataUrl'] = originalSelfieImageDataUrl;
    data['original_background_dataUrl'] = originalPosterImageDataUrl;

		mydata = {};

		mydata['data'] = data;

		$.ajax({
			type: "PATCH",
			url : "/posters/" + posterId,
			data: mydata,
			success: function(resp){ 
        console.log(resp); 
        $('#save-text').replaceWith("<span id='save-text'>所有變更已儲存</span>");
      }
		});

  }

  /**
   *  post data to server, get canvasFinish.toDataURL()
   *
   *  @use fileName, canvasFinish
   */
  $('#download').off('click');
  $('#download').click(function(){
  	
  	//check if img is uploaded
  	if (readyForExport()) {

	  	doCanvas();

	  	var appendCanvas = function(){
	  		if (typeof(canvasFinish) != 'undefined'){

	  			/*
	  			var self = $('#download')[0];
	  			posterFinishData = canvasFinish.toDataURL("image/jpeg");
	  			self.href = posterFinishData;
	  			self.download = fileName;
	  			*/

	  			var download = document.createElement("a");
  				posterFinishData = canvasFinish.toDataURL("image/jpeg");
  				download.href = posterFinishData;
  				download.download = fileName;

  				download.click();

	 				$('#download').attr('disabled', false);

	  			stopRepeat();
	  		}
	  		else
	  			console.log('waiting for export');

	  	};

	  	var id = setInterval(appendCanvas, 30);

	  	var stopRepeat = function(){
	  		clearInterval(id);
	  	};

  	}
  	else{

  		//validation
  		var htmlText = "<ul>";

  		for (var i = 0; i < errorArray.length; i ++){
  			htmlText += "<li>";
  			htmlText += errorArray[i];
  			htmlText += "</li>";
  		}

  		htmlText += "</ul>";
  		$('#error-message').html(htmlText);

  		$('.error-modal').modal();
  	}

  });


  /**
   *  read dataURL in input
   */
  function readURL(input, num) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          if(num == 1)
            originalSelfieImageDataUrl = e.target.result;
          else 
            originalPosterImageDataUrl = e.target.result;
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  var originalSelfieInput = $('#selfie-modal').find('.cropit-image-input');
  originalSelfieInput.change(function(){
    readURL(this, 1);
  });

  var originalPosterInput = $('#poster-modal').find('.cropit-image-input');
  originalPosterInput.change(function(){
    readURL(this, 2);
  });

  /**
   *  @editor  xxhomey
   *  @info    以防有人不小心按到上一頁
   */

  if (window.history && window.history.pushState) {
    window.history.pushState('forward', null, '');
    window.history.pushState('forward', null, '');

    $(window).on('popstate', function() {
      //readyForExport();
      if(confirm("你確定要回前一頁嗎！"))
        window.location.href="/";
      else {
        patchToPoster();
      }
        
      //location.reload();
      window.history.pushState('forward', null, '');
    });

  }

  function changeSaveText() {
    $('#save-text').replaceWith("<span id='save-text'><img width='20px' src='<%= asset_path('processing.gif') %>'>儲存中...</span>");
  }

});