/**
 *  @editor arfullight
 *  @date   2016/3/3
 *  @info   get data via ajax
 */

$(function(){

	var limit = 10;

	var search = function()
	{

		var query = $('#search-text_field').val();

		$.ajax({
			type: "POST",
			url : "/search",
			data: {"query": query, "limit": limit},
			success: function(posters){
				var htmlText = "";
				var secondTdText = "";

				for (var i = 0; i < posters.length; i ++){
					secondTdText = ""; 
					if(posters[i]['info_one_red']) 
						secondTdText = posters[i]['info_one'];
					else if(posters[i]['info_two_red']) 
						secondTdText = posters[i]['info_two'];
					else if(posters[i]['info_three_red']) 
						secondTdText = posters[i]['info_three'];

					if (posters[i]['name'] == null)
						posters[i]['name'] = "";

					if(i % 2 == 1)
						htmlText += "<div class='row'>"

					htmlText += "<div class='col-xs-6' style='padding-left: 0;'>";
					htmlText += "<table style='margin-top: 10px; line-height: 1;'>";

					htmlText += "<tr>";
					htmlText += "<td rowspan='3' id='avatarTd'><a href='/posters/" + posters[i]['id'] + "/edit'><img height='60' width='60'  src='" + posters[i]['avatar_dataUrl'] + "'></a></td>";
					htmlText += "<td><a id='firstTd' href='/posters/" + posters[i]['id'] + "/edit'>" + posters[i]['name'] + "</a></td>";
					htmlText += "</tr>";

					htmlText += "<tr style='height: 20px;'>";
					htmlText += "<td><a id='secondTd' href='/posters/" + posters[i]['id'] + "/edit'>" + secondTdText + " </a></td>";
					htmlText += "</tr>";

					htmlText += "<tr>";
					htmlText += "<td><a id='thirdTd' rel='nofollow' data-confirm='確定要刪除嗎？' data-method='DELETE' href='/posters/" + posters[i]['id'] + "'>Delete</a></td>";
					htmlText += "</tr>";

					htmlText += "</table>";
					htmlText += "</div>";

					if(i % 2 == 1)
						htmlText += "</div>"
				}

				$('.posters').html(htmlText);
			}
		});
	}

	//init status
	search();

	//dynamic change when typing
	$('#search-text_field').on('keyup', function(){
		search();
	});

	//detect scroll
	$( window ).scroll(function() {
		//console.log(window.scrollY);
		//console.log($(document).height() - $(window).height());
	  if (window.scrollY == $(document).height() - $(window).height())
	  {
	  	limit += 10;
	  	setTimeout(search, 100);
	  	
	  }
	});




});