/**
 *  @editor arfullight
 *  @date   2016/3/3
 *  @info   get data via ajax
 */

$(function(){

	var limit = 10,
		state = "posters";

	var search = function(state)
	{
		var query = $('#search-text_field').val();

		$.ajax({
			type: "POST",
			url : "posters/search",
			data: {"query": query, "limit": limit, state: state},
			success: function(posters){
				var htmlText = "";
				var secondTdText = "";

				if (!jQuery.isEmptyObject(posters))
				{
					for (var i = 0; i < posters.length; i ++){
						secondTdText = "";
						if(posters[i]['info_one_red'])
							secondTdText = posters[i]['info_one'];
						else if(posters[i]['info_two_red'])
							secondTdText = posters[i]['info_two'];
						else if(posters[i]['info_three_red'])
							secondTdText = posters[i]['info_three'];

						if (posters[i]['name'] == null)
							posters[i]['name'] = "";

						if(i % 2 !== 1)
							htmlText += "<div class='row'>"

						htmlText += "<div class='col-xs-6' style='padding-left: 0;'>";
						htmlText += "<table class='postersTable'>";

						htmlText += "<tr>";

						if (posters[i]['avatar_upload'])
							htmlText += "<td rowspan='3' class='avatarTd'><a href='/posters/" + posters[i]['id'] + "/edit'><img height='60' width='60'  src='/uploads/poster/" + posters[i]['id'] + "/avatar.jpeg'></a></td>";
						else
						{
							htmlText += "<td rowspan='3' class='avatarTd'><a href='/posters/" + posters[i]['id'] + "/edit'>";
							htmlText += '<%= image_tag('place-holder-320x320.png', width: '60', height: '60') %>';
							htmlText += "</a></td>";
						}

						htmlText += "<td>"
						htmlText += "<a class='firstTd' href='/posters/" + posters[i]['id'] + "/edit'>" + posters[i]['name'] + "</a>";
						htmlText += "<a class='firstTd_Btn btn-xs poster-delete' data-toggle='modal' data-target='#delete-modal' target-poster='" + posters[i]['id'] + "'>Delete</a>";
						htmlText += "<a class='firstTd_Btn btn-xs' href='/posters/" + posters[i]['id'] + "/edit'>Edit</a>";

						htmlText += "</td></tr>";

						htmlText += "<tr style='height: 20px;'>";
						htmlText += "<td style='padding-top: 5px;'><a class='secondTd' href='/posters/" + posters[i]['id'] + "/edit'>" + secondTdText + " </a></td>";
						htmlText += "</tr>";

						htmlText += "<tr>";
						htmlText += "<td><span class='thirdTd'>Last edited: " + posters[i]['updated_at'] + "</span>"
						htmlText += "<span class='thirdTd last-edit'>by " + posters[i]['last_user'] + "</span></td>";
						htmlText += "</tr>";

						htmlText += "</table>";
						htmlText += "</div>";

						if(i % 2 == 1) {
							htmlText += "<br />";
							htmlText += "</div>";
						}
					}
				}

				$('.' + state).html(htmlText);

				$('.postersTable').mouseover(function(){
					$(this).find('.firstTd_Btn').css('opacity', '1');
				});

				$('.postersTable').mouseout(function(){
					$(this).find('.firstTd_Btn').css('opacity', '0');
				});

				$('.firstTd').each(function(index){

					$(this).on('mouseover', function(){
						$('.secondTd:eq(' + index + ')').css('color', 'red');
						$(this).css('color', 'red');
					});

					$(this).on('mouseout', function(){
						$('.secondTd:eq(' + index + ')').css('color', 'black');
						$(this).css('color', 'black');
					});

					$(this).click(loading);
				});

				$('.firstTd_Btn').each(function(index){
					$(this).click(loading);
				});

				$('.secondTd').each(function(index){

					$(this).on('mouseover', function(){

						$('.firstTd:eq(' + index + ')').css('color', 'red');
						$(this).css('color', 'red');
					});

					$(this).on('mouseout', function(){
						$('.firstTd:eq(' + index + ')').css('color', 'black');
						$(this).css('color', 'black');
					});

					$(this).click(loading);
				});

				$('.poster-delete').off();
				$('.poster-delete').click(function(){

					var targetPosterId = $(this).attr('target-poster');

					$('.modal-btn-left').off();

					$('.modal-btn-left').attr('href', '/posters/' + targetPosterId);

				});

			}
		});
	}

	//init status
	search("posters");
	search("latest");

	//dynamic change when typing
	$('#search-text_field').on('keyup', function(){
		if (state == "posters")
	  {
	  	search('posters');
	  	search('latest');
	  }
  	else if (state == "my-posters")
  	{
  		search('my-posters');
  	}
	});

	//detect scroll
	$( window ).scroll(function() {
		//console.log(window.scrollY);
		//console.log($(document).height() - $(window).height());
	  if (window.scrollY == $(document).height() - $(window).height())
	  {
	  	limit += 10;

	  	if (state == "posters")
	  		setTimeout(function(){search('posters');}, 100);
	  	else if (state == "my-posters")
	  		setTimeout(function(){search('my-posters');}, 100);
	  }
	});

	var myPosterBtnClicked = false;


	$('#my-posters').click(function(){

		myPosterBtnClicked = !myPosterBtnClicked;
		limit = 10;

		$(this).toggleClass("btn-clicked");

		var htmlText = "";

		if (myPosterBtnClicked)
		{
			htmlText += "<p class='posters-catagory'><b class='posters-catagory-text'>My Posters｜我的海報</b></p>";
			htmlText += "<div class='my-posters'></div>";

			$('.poster-area').html(htmlText);
			search("my-posters");
			state = "my-posters"
		}
		else
		{
			htmlText += "<p class='posters-catagory'><b class='posters-catagory-text'>Latest Posters｜最新海報</b></p>";
			htmlText += "<div class='latest'></div>";
		  	htmlText += "<p class='posters-catagory'><b class='posters-catagory-text'>All Posters｜全部海報</b></p>";
		  	htmlText += "<div class='posters'></div>";

		 	$('.poster-area').html(htmlText);
		 	search("posters");
			search("latest");
			state = "posters"
		}
	});

	var loading = function() {
        // add the overlay with loading image to the page
        var over = '<div class="spinner">' +
        		'<div class="rect1"></div>' +
				'<div class="rect2"></div>' +
				'<div class="rect3"></div>' +
				'<div class="rect4"></div>' +
				'<div class="rect5"></div>' +
            '</div>';

        $(over).appendTo('body');
    };

});
