/**
 *  @editor arfullight
 *  @date   2016/3/3
 *  @info   get data via ajax
 */

$(function(){

	var limit = 10;

	var search = function()
	{

		var query = $('#search-text_field').val();

		$.ajax({
			type: "POST",
			url : "/search",
			data: {"query": query, "limit": limit},
			success: function(posters){
				var htmlText = "";

				for (var i = 0; i < posters.length; i ++){

					if (posters[i]['name'] == null)
						posters[i]['name'] = "";

					htmlText += "<h2><a href='/posters/" + posters[i]['id'] + "/edit'>" + posters[i]['name'] + "</a></h2>";
					htmlText += "<a href='/posters/" + posters[i]['id'] + "/edit'>Edit </a>";
					htmlText += "<a rel='nofollow' data-confirm='確定要刪除嗎？' data-method='DELETE' href='/posters/" + posters[i]['id'] + "'>Delete</a>";
					htmlText += "<hr>"
				}

				$('.posters').html(htmlText);
			}
		});
	}

	//init status
	search();

	//dynamic change when typing
	$('#search-text_field').on('keyup', function(){
		search();
	});

	//detect scroll
	$( window ).scroll(function() {
		//console.log(window.scrollY);
		//console.log($(document).height() - $(window).height());
	  if (window.scrollY == $(document).height() - $(window).height())
	  {
	  	limit += 10;
	  	setTimeout(search, 100);
	  	
	  }
	});




});