<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <script type="text/javascript">
    var NREUMQ = NREUMQ || [];
    NREUMQ.push(["mark", "firstbyte", new Date().getTime()]);
    </script>
    <title>LIVEhouse.in 直播</title>
    <meta content="LIVEhouse.in 致力於打造最有趣的實況平台，匯集破關攻略、集氣抽蛋、電競賽事等多樣遊戲直播內容。追蹤喜愛的頻道，可以隨時隨地收看精彩節目，無需註冊即可與全球玩家零距離交流。LIVEhouse.in 同時提供企業實況轉播解決方案，可應用於教育訓練、講座直播、大型論壇、尾牙活動、產品發表會。" name="description" />
    <meta content="live house, live, livehouse.in, livehouse, 直播, 實況, live直播, 直播節目, 網路電視, 實況台, 實況教學, 企業轉播, 企業直播" name="keywords" />
    <meta content="website" property="og:type" />
    <meta content="https://livehouse.in/" property="og:url" />
    <meta content="LIVEhouse.in 直播 - 遊戲實況、音樂直播、企業轉播" property="og:title" />
    <meta content="https://event.livehouse.in/web/fb-200x200.jpg" property="og:image" />
    <meta content="LIVEhouse.in 致力於打造最有趣的實況平台，匯集破關攻略、集氣抽蛋、電競賽事等多樣遊戲直播內容。追蹤喜愛的頻道，可以隨時隨地收看精彩節目，無需註冊即可與全球玩家零距離交流。LIVEhouse.in 同時提供企業實況轉播解決方案，可應用於教育訓練、講座直播、大型論壇、尾牙活動、產品發表會。" property="og:description" />
    <meta content="ZaEta3_jX12ha9kYHmQXo84ewr4hKkN7CPXYN1ZYDrE" name="google-site-verification" />
    <meta id="viewport" name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no, minimal-ui">
    <script>
    try {
        if (self.location.host != top.location.host) {
            document.documentElement.style.display = 'none';
        }
    } catch (e) {
        document.documentElement.style.display = 'none';
    }
    </script>
    <link href="//static.cdn.livehouse.in/assets/favicon-e6f5ae0608b68cc5f699caa3574cab2b.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="//static.cdn.livehouse.in/assets/apple-touch-icon-c49bfbf9b735e55f60af917dfdb36464.png" rel="apple-touch-icon" type="image/png" />
    <link href="//static.cdn.livehouse.in/assets/application-ab3f00bd4eacac7af0e6505c8582515a.css" media="all" rel="stylesheet" type="text/css" />
    <link href="//static.cdn.livehouse.in/assets/mobile-common-a5177cf1de7be60a543e38ee0326f616.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    <script defer="defer" src="https://cdn.firebase.com/js/client/1.1.2/firebase.js" type="text/javascript"></script>
    <script defer="defer" src="//static.cdn.livehouse.in/assets/application-08f3f93aa81dc634bf654dfc65fb593b.js" type="text/javascript"></script>
    <script defer="defer" src="//static.cdn.livehouse.in/assets/common-4d45496395361a719213ece30782c25b.js" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[
    window.gon = {};
    gon.currentUser = null;
    gon.currentUserHashCode = null;
    gon.followingChannels = [];
    gon.directory = null;
    gon.directories = ["live"];
    gon.env = "production";
    gon.locale = "zh-TW";
    gon.firebase_url = "lfe-production-b1.firebaseio.com";
    gon.ip = "203.69.113.166";
    gon.gaqOn = true;
    gon.mixPanelOn = true;
    gon.idleTime = 7200000;
    gon.idleTimeAnchor = 21600000;
    gon.signedIn = false;
    gon.verified = false;
    gon.mailProvider = null;
    gon.openId = null;
    gon.hashCode = null;
    gon.accountType = "";
    gon.userEmail = "";
    gon.userName = "";
    gon.userAvatar = "//static.cdn.livehouse.in/assets/smalls/missing-611112f768d73633b0c27fe05647a8e0.png";
    gon.defaultAvatar = "//static.cdn.livehouse.in/assets/smalls/missing-611112f768d73633b0c27fe05647a8e0.png";
    gon.defaultCover = "//static.cdn.livehouse.in/assets/cover-default.zh-TW-707d205976507dd715d0c168df927942.jpg";
    gon.recordHost = "https://record.livehouse.in";
    //]]>
    </script>
    <link href="android-app://com.ikala.livehouse/https/static.cdn.livehouse.in/assets/embed-vod-a14b5e8f270ce40d43259936b8b3e63a.js" rel="alternate" />
    <script defer="defer" src="//static.cdn.livehouse.in/assets/welcome/main-2ec4dac8ff6ddeebd379a9d97b45832e.js" type="text/javascript"></script>
    <link href="https://plus.google.com/110875998821904893539/" rel="publisher" />
    <meta content="https://static.cdn.livehouse.in/assets/embed-vod-a14b5e8f270ce40d43259936b8b3e63a.js" property="al:android:url" />
    <meta content="com.ikala.livehouse" property="al:android:package" />
    <meta content="LIVEhouse.in" property="al:android:app_name" />
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="iUdeS0CEcFxqfcrkYG1oAb7Ww8cwUId9locoxvs0H1U=" name="csrf-token" />
</head>

<body>
    <div id="main">
        <div class="header" ng-controller="MobileCtrl">
            <img alt="Livehouse-logo" src="//static.cdn.livehouse.in/assets/livehouse-logo-ab5df3e4d84c7909b10d4f49db6c8bf1.svg" />
            <a href="#" ng-click="startAppHandler('welcome')" class="download">下載APP</a>
        </div>
        <div class="list" ng-controller="RecommendedChannels">
            <div class="list-block ">
                <a href="/channel/KISSRADIO" ng-click="gaTrackMobileList('KISSRADIO')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/KISSRADIO/1456172722zhdrknwfhbc8r529/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="大眾廣播 FM99.9" ng-cloak>
                    <p class="channel-title">大眾廣播 FM99.9</p>
                    <p class="anchor">KISSRADIO KISSRADIO</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>4647 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/foxsports" ng-click="gaTrackMobileList('foxsports')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/foxsports/1456206873omhxzcqsb0r4quxr/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="104學年度高中籃球聯賽 八強複賽" ng-cloak>
                    <p class="channel-title">104學年度高中籃球聯賽 八強複賽</p>
                    <p class="anchor">foxsports FOX體育台</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1884 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/musou1" ng-click="gaTrackMobileList('musou1')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/musou1/14561893330yldqw54glmr6bt9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="【直播】第九屆立法院，重磅開議！" ng-cloak>
                    <p class="channel-title">【直播】第九屆立法院，重磅開議！</p>
                    <p class="anchor">musou1 【國會無雙】立院直播，國會督督好！／沃草</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>77 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/410608" ng-click="gaTrackMobileList('410608')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/410608/1455785508te0s051whhph9f6r/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="Music Japan | ﾟ∀ﾟ)σ  西野" ng-cloak>
                    <p class="channel-title">Music Japan | ﾟ∀ﾟ)σ 西野</p>
                    <p class="anchor">410608 Ladelfin</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>56 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/384286" ng-click="gaTrackMobileList('384286')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/384286/1455785493zd5rxty9442t9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="南投廣播 FM99.7" ng-cloak>
                    <p class="channel-title">南投廣播 FM99.7</p>
                    <p class="anchor">384286 KISSRADIO997</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>46 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/195037" ng-click="gaTrackMobileList('195037')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/195037/1456219454ujaa688yagp919k9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="休閒台♪" ng-cloak>
                    <p class="channel-title">休閒台♪</p>
                    <p class="anchor">195037 solu.</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>13 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/390074" ng-click="gaTrackMobileList('390074')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/390074/1456205224xrq30kwd5cqbbj4i/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="DecadentBattleship《戰艦世界》祖國好棒棒AP爽爽刷錢" ng-cloak>
                    <p class="channel-title">DecadentBattleship《戰艦世界》祖國好棒棒AP爽爽刷錢</p>
                    <p class="anchor">390074 DecadentBattleship</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>13 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/169032" ng-click="gaTrackMobileList('169032')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/169032/1456089203thzg3fec9w94quxr/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="【豆腐z】撒上一塊冰鎮的鹽巴！" ng-cloak>
                    <p class="channel-title">【豆腐z】撒上一塊冰鎮的鹽巴！</p>
                    <p class="anchor">169032 豆腐</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>12 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/403976" ng-click="gaTrackMobileList('403976')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/403976/1456215902mijb81rc1s0grpb9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="LIFE@音樂.抽獎.5元競標點歌囉" ng-cloak>
                    <p class="channel-title">LIFE@音樂.抽獎.5元競標點歌囉</p>
                    <p class="anchor">403976 LIFE@</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>7 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/198583" ng-click="gaTrackMobileList('198583')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/198583/14562036353ytn9h96x7pvte29/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="kumyka21&#x27;s Channel" ng-cloak>
                    <p class="channel-title">kumyka21&#x27;s Channel</p>
                    <p class="anchor">198583 Kumyka21</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>7 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/165290" ng-click="gaTrackMobileList('165290')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/165290/1456106911s2eqa308ptjiqkt9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="2/19螞蟻獵食秀 晚8:00丟大蟑螂" ng-cloak>
                    <p class="channel-title">2/19螞蟻獵食秀 晚8:00丟大蟑螂</p>
                    <p class="anchor">165290 po11po11</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>6 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/334681" ng-click="gaTrackMobileList('334681')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/334681/1456213768i6fsv66u4xdvaemi/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="&lt;Dior台&gt; FINAL FANTASY VII  (Day3) // 太空戰士系列 繁中慢跑" ng-cloak>
                    <p class="channel-title">&lt;Dior台&gt; FINAL FANTASY VII (Day3) // 太空戰士系列 繁中慢跑</p>
                    <p class="anchor">334681 Dior Homme</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>6 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/239633" ng-click="gaTrackMobileList('239633')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/239633/1456210634o5uzx70oajicc8fr/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="世間人網路全笳卉廣播電台直播&#x27;s Channel" ng-cloak>
                    <p class="channel-title">世間人網路全笳卉廣播電台直播&#x27;s Channel</p>
                    <p class="anchor">239633 世間人</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>4 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/358336" ng-click="gaTrackMobileList('358336')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/358336/14558482189wu3y3xi018umcxr/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="生活旅遊玩樂-欣影音&#x27;s Channel" ng-cloak>
                    <p class="channel-title">生活旅遊玩樂-欣影音&#x27;s Channel</p>
                    <p class="anchor">358336 生活旅遊影音-欣影音</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>3 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/406721" ng-click="gaTrackMobileList('406721')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/406721/1456213034bk0u0wdr8f3i8uxr/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="Love Live All Music 隨機撥放" ng-cloak>
                    <p class="channel-title">Love Live All Music 隨機撥放</p>
                    <p class="anchor">406721 只是一個鳥控</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/341009" ng-click="gaTrackMobileList('341009')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/341009/1456189182obeumq8pqx0i19k9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="live沖&#x27;s 期貨即時畫面分享交流" ng-cloak>
                    <p class="channel-title">live沖&#x27;s 期貨即時畫面分享交流</p>
                    <p class="anchor">341009 live沖</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/350575" ng-click="gaTrackMobileList('350575')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/350575/14562111308kghv5i1fhag7gb9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="DJANDYW.TV &amp; DJANDYW.COM LIVE" ng-cloak>
                    <p class="channel-title">DJANDYW.TV &amp; DJANDYW.COM LIVE</p>
                    <p class="anchor">350575 djandyw</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/347834" ng-click="gaTrackMobileList('347834')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/347834/1456216792lcjazkmtjegsyvi/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="[契子]crescent-RPG大師" ng-cloak>
                    <p class="channel-title">[契子]crescent-RPG大師</p>
                    <p class="anchor">347834 藻藻</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/389616" ng-click="gaTrackMobileList('389616')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/389616/1456217742lxlhla0mpjlfecdi/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="音佛564&#x27;s Channel" ng-cloak>
                    <p class="channel-title">音佛564&#x27;s Channel</p>
                    <p class="anchor">389616 音佛</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/427786" ng-click="gaTrackMobileList('427786')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/427786/14562106614x4un851icin3ik9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="【黑兔】練角練角♪~( • ̀ω•́ ) / [PC] Vindictus / 民105.02.23" ng-cloak>
                    <p class="channel-title">【黑兔】練角練角♪~( • ̀ω•́ ) / [PC] Vindictus / 民105.02.23</p>
                    <p class="anchor">427786 黑兔</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/434585" ng-click="gaTrackMobileList('434585')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/434585/1456038170bvi4kz7ttmcjif6r/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="小姐你的包皮掉了" ng-cloak>
                    <p class="channel-title">小姐你的包皮掉了</p>
                    <p class="anchor">434585 冥王</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/438070" ng-click="gaTrackMobileList('438070')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/438070/14562159253bdpgxnpolx98bhj/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="profane&#x27;s Channel" ng-cloak>
                    <p class="channel-title">profane&#x27;s Channel</p>
                    <p class="anchor">438070 profane</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/435880" ng-click="gaTrackMobileList('435880')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/435880/1456217079j13xd7exq6t7qfr/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="elvas5&#x27;s Channel" ng-cloak>
                    <p class="channel-title">elvas5&#x27;s Channel</p>
                    <p class="anchor">435880 elvas5</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/430024" ng-click="gaTrackMobileList('430024')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/430024/1456219413wxql26sl9xbkpgb9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="Don Cheng&#x27;s Channel" ng-cloak>
                    <p class="channel-title">Don Cheng&#x27;s Channel</p>
                    <p class="anchor">430024 Don Cheng</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>1 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/423897" ng-click="gaTrackMobileList('423897')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/423897/14555315724av5kpatmkq8semi/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="Mountzionradio station Channel" ng-cloak>
                    <p class="channel-title">Mountzionradio station Channel</p>
                    <p class="anchor">423897 Mountzionradio Djblackcooli</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>0 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/cnex" ng-click="gaTrackMobileList('cnex')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/cnex/1455749761yqihw72xv1xxbt9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="CNEX紀實頻道" ng-cloak>
                    <p class="channel-title">CNEX紀實頻道</p>
                    <p class="anchor">cnex CNEX紀實頻道</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>0 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/282164" ng-click="gaTrackMobileList('282164')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/282164/1456212974y1i8hdlkutyb9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="BSC24 Japan Earthquake channel" ng-cloak>
                    <p class="channel-title">BSC24 Japan Earthquake channel</p>
                    <p class="anchor">282164 BSC24</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>0 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/Zoi" ng-click="gaTrackMobileList('Zoi')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/Zoi/1456211795cyltr46kwwpcik9/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="玩手遊送3C&amp;虛寳－詳情追蹤粉絲團" ng-cloak>
                    <p class="channel-title">玩手遊送3C&amp;虛寳－詳情追蹤粉絲團</p>
                    <p class="anchor">Zoi Zoi</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>0 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block ">
                <a href="/channel/415662" ng-click="gaTrackMobileList('415662')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/415662/1456216763vlvp62q0ev6j38fr/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="台藝台-網路直播" ng-cloak>
                    <p class="channel-title">台藝台-網路直播</p>
                    <p class="anchor">415662 TACT台灣藝術電視台</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>0 人在線</span>
                    </p>
                </a>
            </div>
            <div class="list-block gray">
                <a href="/channel/306580" ng-click="gaTrackMobileList('306580')">
                    <img actual-src="https://s3-ap-northeast-1.amazonaws.com/ik-rtc-record-production/306580/1456216612q69jimub6smdkj4i/img/m/0.jpg" ng-src="//static.cdn.livehouse.in/assets/record-default-339888c320c7130a2bc64db95b34344d.jpg" alt="台藝2台-網路直播" ng-cloak>
                    <p class="channel-title">台藝2台-網路直播</p>
                    <p class="anchor">306580 台灣藝術電視２台</p>
                    <p class="online-num">
                        <span class="live-icon  webcam-icon"></span>
                        <span>0 人在線</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');


    ga('create', 'UA-41273694-1', 'livehouse.in');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>
    <!-- Google Ads -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- start Mixpanel -->
    <script type="text/javascript">
    (function(e, b) {
        if (!b.__SV) {
            var a, f, i, g;
            window.mixpanel = b;
            a = e.createElement("script");
            a.type = "text/javascript";
            a.async = !0;
            a.src = ("https:" === e.location.protocol ? "https:" : "http:") + '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';
            f = e.getElementsByTagName("script")[0];
            f.parentNode.insertBefore(a, f);
            b._i = [];
            b.init = function(a, e, d) {
                function f(b, h) {
                    var a = h.split(".");
                    2 == a.length && (b = b[a[0]], h = a[1]);
                    b[h] = function() {
                        b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }
                var c = b;
                "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
                c.people = c.people || [];
                c.toString = function(b) {
                    var a = "mixpanel";
                    "mixpanel" !== d && (a += "." + d);
                    b || (a += " (stub)");
                    return a
                };
                c.people.toString = function() {
                    return c.toString(1) + ".people (stub)"
                };
                i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
                for (g = 0; g < i.length; g++) f(c, i[g]);
                b._i.push([a, e, d])
            };
            b.__SV = 1.2
        }
    })(document, window.mixpanel || []);
    mixpanel.init("9241518d177215bb7b7f9b68d4845712");
    </script>
    <!-- end Mixpanel -->
    <!-- start Alexa Certify Javascript -->
    <script type="text/javascript">
    _atrk_opts = {
        atrk_acct: "5Jmvk1agMW00yi",
        domain: "livehouse.in",
        dynamic: true
    };
    (function() {
        var as = document.createElement('script');
        as.type = 'text/javascript';
        as.async = true;
        as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(as, s);
    })();
    </script>
    <noscript>
        <img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=5Jmvk1agMW00yi" style="display:none" height="1" width="1" alt="" />
    </noscript>
    <!-- end Alexa Certify Javascript -->
    <!-- Begin comScore Tag -->
    <script>
    var _comscore = _comscore || [];
    _comscore.push({
        c1: "2",
        c2: "20097037"
    });
    (function() {
        var s = document.createElement("script"),
            el = document.getElementsByTagName("script")[0];
        s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
    </script>
    <noscript>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=20097037&cv=2.0&cj=1" />
    </noscript>
    <!-- End comScore Tag -->
    <script type="text/javascript">
    if (!NREUMQ.f) {
        NREUMQ.f = function() {
            NREUMQ.push(["load", new Date().getTime()]);
            var e = document.createElement("script");
            e.type = "text/javascript";
            e.src = (("http:" === document.location.protocol) ? "http:" : "https:") + "//" +
                "js-agent.newrelic.com/nr-100.js";
            document.body.appendChild(e);
            if (NREUMQ.a) NREUMQ.a();
        };
        NREUMQ.a = window.onload;
        window.onload = NREUMQ.f;
    };
    NREUMQ.push(["nrfj", "bam.nr-data.net", "bee0d574be", "2460557", "Jg5bFUAJWg1SRUkWAwkCWgxXSVsOVV4KBDkMD1EESg==", 0, 30, new Date().getTime(), "", "", "", "", ""]);
    </script>
</body>

</html>
