/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*basic reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.avatar_icon {
  margin-right: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 4px;
}

#special-for-gravtar {
  margin-top: 4px;
}

 #no-border-radius-1,
 #no-border-radius-2,
 #no-border-radius-3,
 #no-border-radius-4,
 #no-border-radius-5,
 #no-border-radius-6,
 #no-border-radius-7 {
   border-radius: 0px;
   font-size: 11px;
   padding: 6px 11px;
 }




